.bg-img{
    background-image: url(https://ik.imagekit.io/yajnesh/Food%20Store%20Assets/foodmunch-banner-bg.png?updatedAt=1735554356183);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
}

